data/
config.py
**/.DS_Store
**/.idea/
**/__pycache__/
__pycache__/
scripts/test*
checkpoints/
hyena_dna/
mobiraph.yml

#!n01_data/n06_insects_many/
#!n01_data/n06_insects_many/**
#
#n01_data/n06_insects_many/4*
#n01_data/n06_insects_many/5*
#n01_data/n06_insects_many/6*
#n01_data/n06_insects_many/7*